@charset "UTF-8";
/*
Theme Name: i4 Template
Text Domain: i4
Version: 1.0
Description: Theme built by TheWebAddicts.com
Tags: TheWebAddicts, i4
Author: TheWebAddicts
Author URI: https://TheWebAddicts.com

*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
}
* {
  color: inherit;
  font-size: inherit;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}
nav {
  background: transparent;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}
b, strong {
  font-weight: 600;
}
.btn-watch i, .btn-watch, header.main_menu nav ul.menu li.menu-item a, header.main_menu nav ul.menu ul.sub-menu li.menu-item a, header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu, header.main_menu nav ul.mobile, header.main_menu nav ul.mobile li.menu-item a, header.main_menu nav ul.mobile ul.sub-menu li.menu-item a, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a, .about-video .video i, .about-video .video:after, .cards a, .cards a span.arrow, .cards a i.arrrow, .cards section, .cards section span.arrow, .cards section i.arrrow, .learn_more:after, .cards-carousel .indicators .indicator-item, .cards-carousel-full .indicators .indicator-item, .cards-carousel:not(.dark) a:after, .cards-carousel-full:not(.dark) a:after, .cards-carousel:not(.dark) section:after, .cards-carousel-full:not(.dark) section:after, .cards-carousel.dark .indicators .indicator-item, .cards-carousel-full.dark .indicators .indicator-item, .cards-carousel-blue .indicators .indicator-item, .blog-posts a, .footer-menu .blocks .menu a, .footer-menu .social, .form-white input[type=text], .form-white input[type=email], .form-white input[type=url], .form-white input[type=tel], .form-white textarea, .content_grid .box.image .the_content .text, .content_grid .box.image .the_arrow, .accordion a, .accordion a:after, .accordion .text, .form-search .searchform input[type=text], .form-search .searchform button, .search-results a {
  transition: 0.3s all;
}
.homepage-banner:after, .homepage-banner iframe, .content-banner:after, .about-video .video, .about-video .video i, .about-video .video:after, .about-video .image_1, .about-video .image_2, .about-video .image_3, .about-video .image_4, .about-video .image_1 div, .about-video .image_2 div, .about-video .image_3 div, .about-video .image_4 div, .homepage-solutions:after, .learn_more:after, .cards-carousel:not(.dark) a .image div, .cards-carousel-full:not(.dark) a .image div, .cards-carousel:not(.dark) section .image div, .cards-carousel-full:not(.dark) section .image div, .homepage-testimonials:after, .media_and_paragraph.parallax-window:after, .content_grid.parallax-window:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/*.content {*/
  /*width: 100%;*/
  /*max-width: 1280px;*/
  /*margin: auto;*/
/*}*/
/*@media (max-width: 1281px) and (min-width: 1101px) {*/
  /*.content {*/
    /*padding: 0 20px;*/
  /*}*/
/*}*/
/*@media (max-width: 1100px) and (min-width: 801px) {*/
  /*.content {*/
    /*padding: 0 20px;*/
  /*}*/
/*}*/
/*@media (max-width: 800px) {*/
  /*.content {*/
    /*padding: 0 20px;*/
  /*}*/
/*}*/
/*.content-small {*/
  /*width: 100%;*/
  /*max-width: 700px;*/
  /*margin: auto;*/
/*}*/
/*.content-smaller {*/
  /*width: 100%;*/
  /*max-width: 400px;*/
  /*margin: auto;*/
/*}*/
.content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
@media (min-width: 576px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 768px) {
  .content {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .content {
    padding-right: 100px;
    padding-left: 100px;
  }
  .content.center {
    max-width: 75%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}


.padding-left-custom {
  padding-left: 15px;
}
@media (min-width: 576px) {
  .padding-left-custom {
    padding-left: 50px;
  }
}
@media (min-width: 768px) {
  .padding-left-custom {
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .padding-left-custom {
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .padding-left-custom {
    padding-left: 100px;
  }
}

.btn-paragraph {
  position:relative;
  margin-left:40px;
  color: #1065B0 !important;
  display: inline-block !important;
  line-height: unset !important;
  height: auto !important;
  text-transform: unset !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  box-shadow: unset !important;
}
.btn-paragraph:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 30px;
  left: -45px;
  width: 100%;
  height: 1px;
  background: #1065B0;
  border-radius: 5px;
  transition: 0.35s;
}
.btn-paragraph:hover:before {
  max-width: 20px;
}

.btn-watch {
  line-height: 40px;
  font-size: 11px;
}
.btn-watch i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #1484d5;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
}
.btn-watch:hover i {
  transform: scale(1.2);
  margin-right: 15px;
}
sep, .sep {
  display: block;
  width: 100%;
  height: 20px;
  clear: both;
}
.text-left {
  text-align: left !important;
}
.text-left * {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-center * {
  text-align: center;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}

.p20 {
  padding: 20px;
}

.breadcrumbs{
  background-color: #F4F4F4;
  padding-top: 85px;
  padding-bottom:10px;
}
.breadcrumbs a{
  color:rgba(0,0,0,0.35);
  cursor:pointer;
}
.breadcrumbs a:hover{
  color:rgba(0,0,0,0.5);
}
.breadcrumbs label{
  color:rgba(0,0,0,0.35);
}
header.main_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width:100vw;
}

header.other_pages{
  background-color: #fff;
}

header.other_pages nav ul.menu li.menu-item a{
  color: #000 !important;
}
header.main_menu.compact nav {
  background-color: #fff;
}
header.main_menu.compact nav ul.menu li.menu-item a {
  color: #000;
}
header.main_menu.compact nav .header-top-title a{
  color: #000;
}
header.main_menu.compact nav .header-top-title a:hover{
  color: #1484d5;
}
header.main_menu.compact nav .header-top-title i{
  color: #000;
}
header.main_menu.compact nav .header-top-title i:hover{
  color: #1484d5;
}
header.main_menu nav .content {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
}
header.main_menu nav a.custom-logo-link {
  display: block;
  flex-grow: 0;
  flex-shrink: 9;
  width: 220px;
}
header.main_menu nav a.custom-logo-link img {
  width: 220px;
  max-height: 60px;
  margin: 10px 0;
}
header.main_menu nav a.toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  height: 80px;
  line-height: 80px;
  display: none;
}
@media (max-width: 1281px) and (min-width: 1101px) {
  header.main_menu nav a.toggle {
    display: none;
  }
}
@media (max-width: 1100px) and (min-width: 801px) {
  header.main_menu nav a.toggle {
    display: none;
  }
}
@media (max-width: 800px) {
  header.main_menu nav a.toggle {
    display: block;
  }
}
header.main_menu nav a.toggle i {
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
}
header.main_menu nav a.toggle i:first-of-type {
  display: block;
}
header.main_menu nav a.toggle i:last-of-type {
  display: none;
}
header.main_menu nav a.toggle.expanded i:first-of-type {
  display: none !important;
}
header.main_menu nav a.toggle.expanded i:last-of-type {
  display: block !important;
}
header.main_menu nav ul.menu {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
@media (max-width: 1281px) and (min-width: 1101px) {
  header.main_menu nav ul.menu {
    display: flex;
  }
}
@media (max-width: 1100px) and (min-width: 801px) {
  header.main_menu nav ul.menu {
    display: flex;
  }
}
@media (max-width: 800px) {
  header.main_menu nav ul.menu {
    display: none;
  }
}
header.main_menu nav ul.menu li.menu-item {
  display: flex;
  align-items: stretch;
  position: relative;
}
header.main_menu nav ul.menu li.menu-item:hover ul.sub-menu a {
  max-height: 100px;
  padding: 10px 30px 10px 20px;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:after {
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 0 0 5px;
  font-size: 10px;
  color: #1484d5;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.menu li.menu-item a {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  align-content: center;
  display: flex;
  padding: 0 20px;
  align-items: center;
  /*line-height: unset !important;*/
  border-bottom: 2px solid transparent;
}
header.main_menu nav ul.menu li.menu-item a:hover {
  border-bottom-color: #1484d5;
  background-color: transparent;
  color: #1484d5;
}
header.main_menu nav ul.menu ul.sub-menu {
  position: absolute;
  background-color: #fff;
  flex-wrap: wrap;
  top: 70px;
  width: 200px;
  z-index: -1;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item {
  display: flex;
  width: 100%;
  position: relative;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a {
  position: relative;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a:after {
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 10px;
  color: #1484d5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  display: flex;
  align-items: center;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover a {
  color: #1484d5;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover ul a {
  color: #000;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover ul.sub-menu {
  width: 200px !important;
  opacity: 1;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item a {
  padding: 0px 30px 0 20px;
  font-size: 13px;
  color: #000;
  line-height: 1.5 !important;
  border-bottom: 0px;
  overflow: hidden;
  max-height: 0;
  width: 100%;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item a:hover {
  color: #1484d5 !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu {
  background-color: #fbfeff;
  position: absolute;
  left: 200px;
  top: 0;
  width: 0px;
  overflow: hidden;
  opacity: 0;
  z-index: -3;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu li {
  width: 200px !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu a:after {
  content: '';
}
header.main_menu nav ul.mobile {
  flex-grow: 1;
  width: 100%;
  display: block;
  justify-content: flex-end;
  align-items: stretch;
  position: absolute;
  top: 73px;
  left:0;
  height: 0;
  background-color: #fff;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (max-width: 1281px) and (min-width: 1101px) {
  header.main_menu nav ul.mobile {
    display: none;
  }
}
@media (max-width: 1100px) and (min-width: 801px) {
  header.main_menu nav ul.mobile {
    display: none;
  }
}
@media (max-width: 800px) {
  header.main_menu nav ul.mobile {
    display: block;
  }
}
header.main_menu nav ul.mobile.expanded {
  height: calc(100vh - 80px) !important;
}
header.main_menu nav ul.mobile li.menu-item {
  position: relative;
  width: 100%;
  display: block;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:after {
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 0 0 5px;
  font-size: 10px;
  color: #1484d5;
  float: right;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile li.menu-item a {
  font-size: 14px;
  color: #000;
  align-content: center;
  display: block;
  padding: 0 20px;
  align-items: center;
  border-bottom: 2px solid transparent;
  height: 50px;
  line-height: 50px;
}
header.main_menu nav ul.mobile li.menu-item a:hover {
  border-bottom-color: #1484d5;
  background-color: transparent;
  color: #1484d5;
}
header.main_menu nav ul.mobile ul.sub-menu {
  position: static;
  background-color: #fff;
  flex-wrap: wrap;
  top: 80px;
  z-index: -1;
  margin-left: 20px;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded a {
  max-height: 50px !important;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded ul.sub-menu:not(.expanded) {
  max-height: 0px !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item {
  width: 100%;
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a {
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:after {
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 10px;
  color: #1484d5;
  float: right;
  display: flex;
  align-items: center;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover a {
  color: #1484d5;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover ul a {
  color: #000;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a {
  padding: 0px 20px 0 20px;
  height: 50px;
  max-height: 0px;
  line-height: 50px;
  font-size: 13px;
  color: #000;
  border-bottom: 0px;
  overflow: hidden;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a:hover {
  color: #1484d5 !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu {
  background-color: #fbfeff;
  overflow: hidden;
  z-index: -3;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a:after {
  content: '';
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu.expanded a {
  max-height: 50px !important;
}
.title-tertiary {
  color: #00a48e;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.ratio-1-1 {
  width: 100%;
  padding-bottom: 100%;
}
.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
}
.d-block {
  display: block;
}
.title-group label {
  color: #00a48e;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.title-group .description{
  font-weight:500;
  font-size:14px;
  margin-top:15px;
}
.title-group h1, .title-group h2 {
  margin: 0;
  padding: 0;
}
.title-group h2 {
  font-size: 36px;
  line-height:38px;
  font-weight: 600;
}
.title-group.text-white * {
  color: #fff;
}
.text-gray {
  color: rgba(0, 0, 0, 0.55);
}
.menu-spacer {
  display: block;
  height: 0px;
  width: 100%;
}
.homepage-banner {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
}
.homepage-banner:after {
  content: '';
  display: block;
  z-index: 1;
  background: #000;
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.homepage-banner iframe {
  display: block;
  z-index: 0;
}
.homepage-banner .content {
  position: relative;
  z-index: 2;
}
.homepage-banner .content * {
  max-width: 500px;
  color: #fff;
}
.homepage-banner .content h1 {
  font-size: 48px;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-weight:600;
  word-break: break-word;
}
@media (max-width: 575px) {
  .homepage-banner .content h1 {
    font-size: 42px;
  }
}
.homepage-banner .content .subtitle {
  display: block;
  margin-bottom: 20px;
    font-size:14px;
}
.content-banner {
  width: 100%;
  overflow: hidden;
  height: 30vw;
  min-height: 300px;
  position: relative;
  display: flex;
}
.content-banner.small {
  height: 20vw !important;
  min-height: 200px !important;
}
.content-banner.text-center {
  justify-content: center !important;
}
.content-banner.text-center .content {
  text-align: center;
}
.content-banner.text-center .banner-content {
  margin: auto;
}
.content-banner:after {
  content: '';
  display: block;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}
.content-banner .content {
  color: #fff;
  z-index: 2;
  position: relative;
}
.content-banner .content .banner-content {
  width: 100%;
  max-width: 500px;
}
.content-banner .content h1 {
  font-size: 42px;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 1.2;
}
.content-banner .content .subtitle {
  display: block;
  margin-bottom: 20px;
}



.homepage-about .list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding:10px 5px;
  cursor:pointer;
}

.homepage-about .list-item:hover {
  background-color: rgba(0,0,0,0.03);
}

.homepage-about .list-item .title {
  font-size: 20px;
  font-weight: 500;
}
.homepage-about .list-item .icon {
  width:18px;
  height:18px;
  background-position: center;
  background-repeat: no-repeat;
}


.homepage-about .list-item .text {
  max-height:0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.homepage-about .list-item.active .text {
  max-height: 400px;
  overflow-y: scroll;
  transition: max-height 0.25s ease-in;
}

.about-video {
  width: 100%;
  padding-bottom: 40%;
  display: block;
  position: relative;
  min-height: 500px !important;
}
.about-video.zoom {
  transform: scale(1.4);
  min-height: 700px !important;
}
.about-video .video {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  z-index: 2;
}
.about-video .video i {
  width: 50px;
  height: 50px;
  background-color: #1484d5;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  z-index: 2;
}
.about-video .video:after {
  content: '';
  background-color: #fff;
  opacity: 0;
  z-index: 1;
}
.about-video .video:hover i {
  transform: scale(1.2);
}
.about-video .video:hover:after {
  opacity: 0.1;
}
.about-video .image_1, .about-video .image_2, .about-video .image_3, .about-video .image_4 {
  z-index: 1;
  border-radius: 4px;
  opacity: 0.3;
}
.about-video .image_1 div, .about-video .image_2 div, .about-video .image_3 div, .about-video .image_4 div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-video .image_1 {
  width: 157px;
  height: 105px;
  transform: translate(-200px, 200px);
}
.about-video .image_2 {
  width: 192px;
  height: 192px;
  transform: translate(200px, 200px);
}
.about-video .image_3 {
  width: 137px;
  height: 85px;
  transform: translate(0px, -100px);
}
.about-video .image_4 {
  width: 218px;
  height: 132px;
  transform: translate(-210px, -50px);
}
.homepage-solutions {
  width: 100%;
  min-height: 800px;
  padding: 140px 0;
  position: relative;
}
.homepage-solutions:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.homepage-solutions .content {
  position: relative;
  z-index: 2;
}
.homepage-solutions img {
  min-width: 100%;
}
.homepage-solutions .line.white {
  margin: 140px 0;
}
.cards {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
}
.cards a {
  float: left;
  width: 386.66px;
  margin: 20px;
  display: block;
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
.cards a .icon-main i, .cards a .icon-main span {
  width: 100%;
  display: block;
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
}
.cards a * {
  text-align: center;
}
.cards a h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.cards a div.text {
  font-size: 12px;
  margin-bottom: 40px;
}
.cards a span.arrow, .cards a i.arrrow {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1484d5;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  border-radius: 50%;
  box-sizing: unset;
  border: 1px solid #1484d5;
}
.cards a:hover {
  background-color: #f0f9ff;
  transform: scale(1.05);
}
.cards a:hover .arrow {
  transform: scale(1.5);
}
.cards section {
  float: left;
  width: calc(50% - 40px);
  margin: 20px;
  display: block;
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .cards section {
    width: 100%;
  }
}
.cards section .icon-main i, .cards section .icon-main span {
  width: 100%;
  display: block;
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
}
.cards section * {
  text-align: center;
}
.cards section h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.cards section div.text {
  font-size: 12px;
  margin-bottom: 40px;
}
.cards section span.arrow, .cards section i.arrrow {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1484d5;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  border-radius: 50%;
  box-sizing: unset;
  border: 1px solid #1484d5;
}
.homepage-services {
  background-color: #fbfeff;
  padding: 140px 0;
  position: relative;
}
.homepage-services .cards-carousel {
  margin-top: -70px;
}
.homepage-partners .border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.homepage-partners section {
  padding: 40px;
}
.homepage-partners .logos div {
  float: left;
  width: 80px;
  height: 40px;
  margin-right: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.partner-image {
  height: 50px;
  max-width:150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
.learn_more {
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}
.learn_more span {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.learn_more span:nth-of-type(2) {
  font-size: 16px;
  padding: 0 0 0 10px;
}
.learn_more span:nth-of-type(1) {
  padding-left: 0px;
}
.learn_more:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.05);
  top: unset;
  height: 0;
  z-index: 0;
  border-radius: 3px;
}
.learn_more.left {
  text-align: left;
  justify-content: left;
}
.carousel-container {
  position: relative;
}
.carousel-container .arrow-left {
  z-index: 99;
  position: absolute;
  left: 0px;
  top: 100px;
  bottom: 100px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-container .arrow-left i {
  font-size: 16px;
}
.carousel-container .arrow-right {
  z-index: 99;
  position: absolute;
  right: 0px;
  top: 100px;
  bottom: 100px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-container .arrow-right i {
  font-size: 16px;
}
.carousel-container .arrow-left:hover, .carousel-container .arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.cards-carousel, .cards-carousel-full {
  margin: 0 50px;
  width: calc(100% - 100px);
  padding: 100px 0;
}
.cards-carousel .indicators .indicator-item, .cards-carousel-full .indicators .indicator-item {
  background-color: #1484d5;
  opacity: 0.3;
}
.cards-carousel .indicators .indicator-item.active, .cards-carousel-full .indicators .indicator-item.active {
  background-color: #1484d5;
  opacity: 1;
  transform: scale(1.2);
}
.cards-carousel:not(.dark) a, .cards-carousel-full:not(.dark) a, .cards-carousel:not(.dark) section, .cards-carousel-full:not(.dark) section {
  float: left;
  width: 300px !important;
  min-height: 300px;
  height: auto !important;
  overflow: hidden;
  display: block;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.cards-carousel:not(.dark) a .image, .cards-carousel-full:not(.dark) a .image, .cards-carousel:not(.dark) section .image, .cards-carousel-full:not(.dark) section .image {
  background-color: #f0f9ff;
  width: 100%;
  height: 200px;
  position: relative;
}
.cards-carousel:not(.dark) a .image div, .cards-carousel-full:not(.dark) a .image div, .cards-carousel:not(.dark) section .image div, .cards-carousel-full:not(.dark) section .image div {
  position: absolute;
  width: 210px;
  height: 120px;
  background-position: center;
  background-size: cover;
}
.cards-carousel:not(.dark) a .inner, .cards-carousel-full:not(.dark) a .inner, .cards-carousel:not(.dark) section .inner, .cards-carousel-full:not(.dark) section .inner {
  padding: 20px;
}
.cards-carousel:not(.dark) a *, .cards-carousel-full:not(.dark) a *, .cards-carousel:not(.dark) section *, .cards-carousel-full:not(.dark) section * {
  text-align: left;
}
.cards-carousel:not(.dark) a h2, .cards-carousel-full:not(.dark) a h2, .cards-carousel:not(.dark) section h2, .cards-carousel-full:not(.dark) section h2 {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  margin: 5px 0 15px 0;
  padding: 0;
}
.cards-carousel:not(.dark) a div.text, .cards-carousel-full:not(.dark) a div.text, .cards-carousel:not(.dark) section div.text, .cards-carousel-full:not(.dark) section div.text {
  font-size: 12px;
  margin-bottom: 50px;
}
.cards-carousel:not(.dark) a .footer, .cards-carousel-full:not(.dark) a .footer, .cards-carousel:not(.dark) section .footer, .cards-carousel-full:not(.dark) section .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  z-index: 2;
}
.cards-carousel:not(.dark) a .footer span, .cards-carousel-full:not(.dark) a .footer span, .cards-carousel:not(.dark) section .footer span, .cards-carousel-full:not(.dark) section .footer span {
  line-height: 50px;
  display: inline-block;
  height: 50px;
}
.cards-carousel:not(.dark) a .footer span:nth-of-type(2), .cards-carousel-full:not(.dark) a .footer span:nth-of-type(2), .cards-carousel:not(.dark) section .footer span:nth-of-type(2), .cards-carousel-full:not(.dark) section .footer span:nth-of-type(2) {
  font-size: 15px;
  padding: 0 5px;
}
.cards-carousel:not(.dark) a:after, .cards-carousel-full:not(.dark) a:after, .cards-carousel:not(.dark) section:after, .cards-carousel-full:not(.dark) section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #1484d5;
  height: 0;
  opacity: 0;
}
.cards-carousel:not(.dark) a:hover:after, .cards-carousel-full:not(.dark) a:hover:after, .cards-carousel:not(.dark) section:hover:after, .cards-carousel-full:not(.dark) section:hover:after {
  height: 50px;
  opacity: 1;
}
.cards-carousel:not(.dark) a:hover .footer, .cards-carousel-full:not(.dark) a:hover .footer, .cards-carousel:not(.dark) section:hover .footer, .cards-carousel-full:not(.dark) section:hover .footer {
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.cards-carousel:not(.dark) a:hover .footer *, .cards-carousel-full:not(.dark) a:hover .footer *, .cards-carousel:not(.dark) section:hover .footer *, .cards-carousel-full:not(.dark) section:hover .footer * {
  color: #fff;
}
.cards-carousel.dark section, .cards-carousel-full.dark section {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
}
.cards-carousel.dark *, .cards-carousel-full.dark * {
  color: #fff;
}
.cards-carousel.dark .indicators .indicator-item, .cards-carousel-full.dark .indicators .indicator-item {
  background-color: #fff;
  opacity: 0.3;
}
.cards-carousel.dark .indicators .indicator-item.active, .cards-carousel-full.dark .indicators .indicator-item.active {
  background-color: #fff;
  opacity: 1;
  transform: scale(1.2);
}
.cards-carousel-blue {
  padding: 100px 0;
  min-height: 500px;
}
.cards-carousel-blue .indicators .indicator-item {
  background-color: #1484d5;
  opacity: 0.3;
}
.cards-carousel-blue .indicators .indicator-item.active {
  background-color: #1484d5;
  opacity: 1;
  transform: scale(1.2);
}
.cards-carousel-blue section {
  float: left;
  width: 300px !important;
  min-height: 300px;
  height: auto !important;
  overflow: hidden;
  display: block;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  padding: 20px;
  color: #000;
}
.cards-carousel-blue section .image {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40%;
  margin: auto;
}
.cards-carousel-blue section .line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
}
.cards-carousel-blue section h3 {
  font-size: 16px;
  margin: 20px 0 10px 0;
}
.cards-carousel-blue section .text {
  opacity: 0.65;
}
.cards-carousel-blue section a {
  margin-top: 20px;
  display: block;
  font-size: 12px;
  color: #000;
}
.homepage-testimonials {
  width: 100%;
  padding: 140px 0;
  position: relative;
}
.homepage-testimonials:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.homepage-testimonials .content {
  position: relative;
  z-index: 2;
}
.homepage-testimonials img {
  min-width: 100%;
}
.homepage-testimonials .carousel-item .image {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.homepage-testimonials .carousel-item .right {
  float: right;
  width: calc(100% - 100px);
  padding: 20px;
}
.homepage-testimonials .carousel-item .right h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
}
.homepage-testimonials .carousel-item .text {
  display: block;
  clear: both;
  padding: 20px 0 0 0;
}
.homepage-articles {
  width: 100%;
  padding: 140px 0;
  overflow: hidden;
  background-color: #fbfeff;
}

.footer{
  position:relative;
}

.footer-center{
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px -3px 99px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px -3px 99px 0px rgba(0,0,0,0.15);
  box-shadow: 0px -3px 99px 0px rgba(0,0,0,0.15);
  max-width:800px;
  width:95%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  padding:30px 50px 50px 50px;
  margin-bottom:100px;
  margin-top:-10%;
}
@media (max-width: 800px){
  .footer-center{
    margin-bottom:50px;
  }
}
.footer-center .title{
  font-size:22px;
  font-weight:600;
  color:#000;
}
.footer-center .description{
  opacity:0.35;
}
.footer-center .border-right{
  border-right:2px solid rgba(0,0,0,0.05);
}

@media (max-width: 767px) {
  .footer-center .border-right{
    border:0;
  }
}
.footer-center .icon{
  margin: auto;
  width: 40px;
  height:40px;
}

.footer-center .div-title{
  text-transform: uppercase;
  font-weight:600;
  font-size:14px;
}

.footer-center .btn-outline{
  border: 1px solid #00A48E;
  padding:10px 20px;
  border-radius: 25px;
  color:#000;
  transition: 0.3s;
  white-space: nowrap;
  display:inline-block !important;
}

.footer-center .btn-outline:hover{
  background-color: #00A48E;
  color: #fff;
  opacity:1 !important;
}

.footer-menu {
  background-color: #1A1818;
  width: 100%;
  padding: 0 0 20px 0;
}

.footer-bottom{
  background-color: #0D0D0D;
  padding:20px 0;

}

.footer-bottom .social-media-footer .social i {
  color: #fff;
  transition:0.3s;
}

.footer-bottom .social-media-footer .social {
  margin-right:10px;
}

.footer-bottom .social-media-footer .social i:hover {
  opacity:0.5;
}

.t-opacity-50{
  opacity:0.5;
}
.footer-menu h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 25px 0;
  color: #00ABBE;
}
@media (max-width: 800px) {
  .footer-menu h3 {
    margin-bottom: 20px;
  }
}
.footer-menu a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  transition: 0.3s;
}
.footer-menu li {
  list-style: none;
}

.footer-menu .footer-item{
  color: #fff;
  transition: 0.3s;
}
.footer-menu  a:hover {
  opacity:0.5;
}
.footer-menu .footer-info {
  max-width: 300px;
}
.footer-menu .footer-info div, .footer-menu .footer-info a {
  display: block;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.55);
}
.footer-menu .footer-info div b, .footer-menu .footer-info a b {
  padding-right: 5px;
}
.footer-menu .footer-newsletter {
  display: block;
  position: relative;
  margin: 20px 0;
}
.footer-menu .footer-newsletter button {
  position: absolute;
  top: 6px;
  right: -5px;
  color: #1484d5;
}
.footer-menu .social {
  float: left;
  width: 30px;
  height: 30px;
  display: block;
}
.footer-menu .social i {
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #000;
}
.footer-menu .social:hover {
  opacity: 0.6;
}
.form-white input[type=text], .form-white input[type=email], .form-white input[type=url], .form-white input[type=tel] {
  display: block;
  width: 100%;
  background-color: #fff !important;
  border: 1px solid rgba(20, 132, 213, 0.2) !important;
  padding: 10px !important;
  height: 50px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
}
.form-white input[type=text]:focus, .form-white input[type=email]:focus, .form-white input[type=url]:focus, .form-white input[type=tel]:focus {
  outline: none !important;
  border: 1px solid rgba(20, 132, 213, 0.8) !important;
}
.form-white textarea {
  display: block !important;
  width: 100% !important;
  min-height: 120px !important;
  background-color: #fff !important;
  border: 1px solid rgba(20, 132, 213, 0.2) !important;
  padding: 15px 10px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
}
.form-white textarea:focus {
  outline: none !important;
  border: 1px solid rgba(20, 132, 213, 0.8) !important;
}
.about-profile {
  padding: 140px 0;
  position: relative;
  z-index: 2;
}
.about-profile .big_number_section {
  padding-left: 60px;
}
.about-profile .big_number_section .number {
  float: left;
  color: #1484d5;
  font-size: 180px;
  height: 170px;
  line-height: 170px;
  font-weight: 600;
}
.about-profile .big_number_section .unit {
  float: left;
  color: #1484d5;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100px;
  margin-top: 130px;
  padding-left: 40px;
}
.customers-list {
  padding: 140px 0;
  background-color: #fbfeff;
}
.customers-list .logo {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding-bottom: 66%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.about-customers {
  display: block;
  padding: 40px 0;
}
.about-customers a.logo {
  display: block;
  width: 100%;
  padding-bottom: 50%;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.partners-content {
  display: block;
  padding: 140px 0 0 0;
  overflow: hidden;
  background-color: #1484d5;
}
.contact-info {
  background-color: #fbfeff;
  padding: 140px 0;
}
.contact-info .info {
  padding: 0 30px 0px 40px;
  position: relative;
  min-height: 450px;
  color: rgba(0, 0, 0, 0.55);
}
.contact-info .info .wp-block-quote {
  border-left: 3px solid #1484d5;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-left: -30px;
  padding-left: 27px;
  padding-bottom: 5px;
  width: calc(50% - 40px);
}
.contact-info .info .wp-block-quote p {
  width: 100% !important;
}
.contact-info .info p {
  width: calc(50% - 40px);
}
.contact-info .form {
  padding: 20px 40px 40px 40px;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0 !important;
}
.contact-info .contact-box {
  padding: 0 40px;
}
.contact-info .contact-box h3 {
  font-size: 16px;
  font-weight: 400;
}
.contact-subscribe {
  background-color: #f0f9ff;
  padding: 140px 0;
}
.contact-subscribe .left {
  padding: 0 40px 0 0;
}
.contact-subscribe .left h2 {
  font-size: 24px;
  font-weight: 700;
}
.contact-subscribe .right {
  position: relative;
  padding-top: 40px;
}
.contact-subscribe .right .btn-flat {
  position: absolute;
  top: 47px;
  right: 10px;
}
.media_and_paragraph {
  padding: 80px 0;
}
.media_and_paragraph.VeryLightBlue {
  background-color: #fbfeff;
}
.media_and_paragraph.LightBlue {
  background-color: #f0f9ff;
}
.media_and_paragraph .media {
  padding: 0 60px;
}
.media_and_paragraph .media img {
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
.media_and_paragraph .media.s12 img {
  max-width: 700px;
}
.media_and_paragraph .media img {
  margin: auto;
}
.media_and_paragraph .media iframe {
  width: 100% !important;
  min-height: 400px;
}
.media_and_paragraph h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 20px 0 40px 0;
}
.media_and_paragraph .text {
  padding: 0 60px;
}
.media_and_paragraph.parallax-window {
  position: relative;
}
.media_and_paragraph.parallax-window:after {
  content: '';
  display: block;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}
.media_and_paragraph.parallax-window .content, .media_and_paragraph.parallax-window .content-small {
  position: relative;
  z-index: 2;
  color: #fff;
}
.media_and_paragraph.parallax-window .content .text-gray, .media_and_paragraph.parallax-window .content-small .text-gray {
  color: #fff !important;
}
.content_grid {
  padding: 100px 0;
}
.content_grid.VeryLightBlue {
  background-color: #fbfeff;
}
.content_grid.LightBlue {
  background-color: #f0f9ff;
}
.content_grid.parallax-window {
  position: relative;
}
.content_grid.parallax-window:after {
  content: '';
  display: block;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}
.content_grid.parallax-window .content, .content_grid.parallax-window .content-small {
  position: relative;
  z-index: 2;
  color: #fff;
}
.content_grid.parallax-window .content .text-gray, .content_grid.parallax-window .content-small .text-gray {
  color: #fff !important;
}
.content_grid .content, .content_grid .content-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.content_grid .content .col, .content_grid .content-small .col {
  float: none !important;
  margin-left: unset;
  margin-right: unset;
}
.content_grid .box .inner {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 5px;
  width: 100%;
  height: calc(100% - 20px);
}
.content_grid .box * {
  color: rgba(0, 0, 0, 0.55);
}
.content_grid .box h3 {
  color: #000;
  font-size: 16px;
  padding: 20px;
  margin: 0;
}
.content_grid .box .text {
  padding: 0 20px 20px 20px;
}
.content_grid .box.no-icon.no-picture h3 {
  font-size: 24px;
}
.content_grid .box.no-icon.no-picture .icon {
  display: none;
}
.content_grid .box.icon-big .inner {
  padding-bottom: 20px;
}
.content_grid .box.icon-big * {
  text-align: center;
}
.content_grid .box.icon-big .icon {
  display: block;
  width: 100%;
}
.content_grid .box.icon-big .icon i, .content_grid .box.icon-big .icon span {
  display: block;
  width: 100%;
  padding: 20px 0 0 0;
  font-size: 64px;
  height: 100px;
  line-height: 100px;
  color: #1484d5;
}
.content_grid .box.icon-small .the_content {
  display: flex;
  flex-wrap: wrap;
}
.content_grid .box.icon-small .the_content h3 {
  width: calc(100%);
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 80px;
}
.content_grid .box.icon-small .the_content .text {
  width: calc(100%);
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 80px;
}
.content_grid .box.icon-small .icon {
  display: block;
  width: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
.content_grid .box.icon-small .icon i, .content_grid .box.icon-small .icon span {
  display: block;
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #1484d5;
  padding: 20px 0;
}
.content_grid .box.image .inner {
  padding-bottom: 100%;
  max-height: 400px;
  border-radius: 5px;
}
.content_grid .box.image .inner:hover .text {
  max-height: 500px;
  padding: 0 20px 20px 20px;
}
.content_grid .box.image .inner:hover .the_arrow {
  transform: scale(0);
}
.content_grid .box.image * {
  text-align: center;
}
.content_grid .box.image .icon {
  display: none;
}
.content_grid .box.image .the_image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 90px;
  z-index: 1;
  background-size: cover;
  border-radius: 5px;
}
.content_grid .box.image .the_content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  min-height: 100px;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
}
.content_grid .box.image .the_content .text {
  max-height: 0;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
}
.content_grid .box.image .the_arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  margin: auto;
  display: block;
  background-color: #1484d5;
  color: #fff;
  z-index: 3;
  bottom: -20px;
  left: 0;
  right: 0;
}
.content_grid .box.image .the_arrow span {
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.content_grid .header h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 20px 0 40px 0;
}
.content_grid .header .text {
  padding: 0 60px;
  margin-bottom: 20px;
}
header.other_pages nav a {
  color: #000 !important;
}
header.other_pages nav a:hover{
  color: #1484d5 !important;
}
header.other_pages nav i {
  color: #000 !important;
}
header.other_pages nav i:hover {
  color: #1484d5 !important;
}
.header-top-title{
  line-height:28px !important;
  height :28px !important;
  display:flex;
  align-items:center;
  justify-content: flex-end;
  border-bottom:1px solid rgba(0,0,0,0.05);
}
.header-top-title a{
  transition: 0.3s;
}
.header-top-title i{
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  margin-right: 20px;
  transition:0.3s;
}
.header-top-title a:hover{
  color: #1484d5;
}
.content-small{
    max-width:800px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.accordion {
  position: absolute;
  z-index: 20;
  padding: 0px !important;
}
.accordion a {
  display: block;
  border: 1px solid rgba(20, 132, 213, 0.15);
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 20px;
  border-radius: 5px;
  color: #000;
  font-size: 15px;
  position: relative;
}
.accordion a:after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  color: #1484d5;
  line-height: 50px;
  font-weight: 700;
  font-size: 12px;
}
.accordion a:hover {
  border: 1px solid rgba(20, 132, 213, 1);
}
.accordion .text {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: #fff;
}
.accordion.expanded {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.accordion.expanded a {
  background-color: #1484d5;
  color: #fff;
}
.accordion.expanded a:after {
  transform: rotate(180deg);
  color: #fff;
}
.accordion.expanded .text {
  max-height: 500px;
  padding: 20px 20px;
}
.text-gray ul {
  padding-left: 30px;
  list-style: unset !important;
}
.text-gray ul li {
  list-style: unset !important;
}
.form-search .searchform {
  display: flex;
  flex-wrap: nowrap;
  padding: 80px 20px;
}
.form-search .searchform input[type=text] {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(20, 132, 213, 0.2);
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0;
}
.form-search .searchform button {
  width: 100px;
  display: block;
  background-color: #1484d5;
  border: 1px solid rgba(20, 132, 213, 0.2);
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.search-results {
  margin-bottom: 80px;
}
.search-results h4 {
  padding: 20px;
}
.search-results a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(20, 132, 213, 0.25);
}
.search-results a span:first-of-type {
  color: rgba(0, 0, 0, 0.55);
}
.search-results a span:last-of-type {
  color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.search-results a h5 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #1484d5;
}
.search-results a:hover {
  background-color: #f0f9ff;
}

.solution-card{
  position: relative;
  background: #1065b0;
  background: -moz-linear-gradient(180deg, rgba(16, 101, 176, 1) 0%, rgba(0, 71, 153, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(16, 101, 176, 1) 0%, rgba(0, 71, 153, 1) 100%);
  background: linear-gradient(180deg, rgba(16, 101, 176, 1) 0%, rgba(0, 71, 153, 1) 100%);
  /*margin-top: 30px;*/
  margin-bottom: 30px;
  padding:30px;
  width: 100%;
  height: calc(100% - 30px);
}
.solution-card .label{
  color:#fff;
  font-weight:500;
  font-size:24px;
  line-height:24px;
}
.solution-card .text{
  color:#fff;
  margin-top:20px;
  opacity: 0.5;
}
.fact-and-figure-card {
  background: #1065b0;
  background: -moz-linear-gradient(180deg, rgba(16, 101, 176, 1) 0%, rgba(0, 71, 153, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(16, 101, 176, 1) 0%, rgba(0, 71, 153, 1) 100%);
  background: linear-gradient(180deg, rgba(16, 101, 176, 1) 0%, rgba(0, 71, 153, 1) 100%);
  min-height:220px;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px){
  .fact-and-figure-card{
    padding:20px;
  }
}
.fact-and-figure-card .label{
  color:#fff;
  font-weight:700;
  font-size:40px;
  line-height:40px;
  word-break: break-word;
}
@media (max-width: 767px){
  .fact-and-figure-card .label{
    font-size:32px;
    line-height:32px;
  }
}
.fact-and-figure-card .line{
  color:#fff;
  background-color: #fff;
  width:30px;
  height:2px;

}

.fact-and-figure-card .text{
  color:#fff;
  margin-top:20px;
    opacity: 0.5;
}

.pb-section {
  padding-bottom:80px;
}
@media (max-width: 800px) {
  .pb-section {
    padding-bottom: 50px;
  }
}

.py-section {
  padding-top: 80px;
  padding-bottom:80px;
}
@media (max-width: 800px) {
  .py-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.width-50 {
  max-width: 50%;
  width: 100%;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .width-50 {
    max-width: 100%;
  }
}


.ratio-3-2 {
  width: 100%;
  padding-bottom: calc(calc(100% * 2) / 3);
}

.ratio-5-4 {
  width: 100%;
  padding-bottom: calc(calc(100% * 4) / 5);
}

.competency-card {
  width: 500px;
  position: relative;
  text-decoration: none;
  display:block;
}
.competency-card .title {
    margin:0;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom:30px;
  padding-left:25px;
}
.competency-card .image {
  z-index: 0;
  position: relative;
}
.competency-card .image:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  background: #00a48e;
  background: -moz-linear-gradient(180deg, rgba(0, 164, 142, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 164, 142, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(180deg, rgba(0, 164, 142, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.competency-card:hover .image:after {
  background: #00a48e;
  background: -moz-linear-gradient(180deg, rgba(0, 164, 142, 0) 0%, rgba(0, 164, 142, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 164, 142, 0) 0%, rgba(0, 164, 142, 1) 100%);
  background: linear-gradient(180deg, rgba(0, 164, 142, 0) 0%, rgba(0, 164, 142, 1) 100%);

}


.team-card .name{
  font-size:16px;
  font-weight:700;
  text-transform: capitalize;
}
.team-card .position{
  font-size:16px;
}
.team-card .icon{
  border-radius:50%;
  border:1px solid rgba(0,0,0,0.1);
  padding:15px;
  transition:0.3s;
}
.team-card .icon:hover{
  background-color: #00A48E;
}
.team-card .icon:hover i{
  color:#fff;
  transition: 0.3s;
}
.team-card .icon i{
  color:#00A48E;
  font-size:16px;
}

.mt-100{
  margin-top:100px;
}

.t-16px{
  font-size:16px;
}
.sector-card{
  background-color: rgba(0,0,0,0.03);
  color:#0957A5;
  text-align: center;
  padding:25px 10px;
}

.sector-card i{
  color:#0957A5;
  margin-left: auto;
  margin-right: auto;
  font-size:28px;
}

.sector-card .title{
  font-weight:600;
  font-size:18px;
  text-align: center;
  min-height:50px;
  width:100%;
  word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
}
.careers-banner {
  padding: 50px;
  min-height:350px;
  background: #004799;
  background: -moz-linear-gradient(90deg, rgba(0, 71, 153, 1) 0%, rgba(16, 101, 176, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 71, 153, 1) 0%, rgba(16, 101, 176, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 71, 153, 1) 0%, rgba(16, 101, 176, 1) 100%);
}
.careers-banner label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #00a48e;
  margin-bottom: 10px;
}
.careers-banner .title {
  font-size: 36px;
  line-height: 38px;
  font-weight: 600;
  color: #fff;
}
.careers-banner .text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.careers-banner .btn-outline {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  padding: 12px 50px 12px 50px;
  white-space: nowrap;
  display: inline-block;
  font-size:16px;
  text-transform: capitalize;
  font-weight:600;
}
.careers-banner .btn-outline .label {
  position: relative;
  color:#fff;
}
.careers-banner .btn-outline .label:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 25px;
  left: -35px;
  width: 100%;
  height: 1px;
  background: #fff;
  border-radius: 5px;
  transition: 0.35s;
  color: #fff;
}
.careers-banner .btn-outline:hover .label:before {
  max-width: 15px;
}

.icon-sizes{
  width:30px;
  height:30px;
}

.icon-phone{
  width:30px;
  height:30px;
  color:#00a48e;
  font-size:20px;
}
.image-max-width{
  /*max-width:600px;*/
  margin-left:auto;
  margin-right:auto;
}
.careers-form .label{
    color:#00A48E !important;
    text-transform: uppercase !important;
    font-weight:600 !important;
    font-size:14px !important;
}

.careers-form input{
    padding-left:20px !important;
    padding-right: 20px !important;
    max-width:100% !important;
    background-color: rgba(0,0,0,0.05) !important;
    border:0 !important;
    height:50px !important;
    border-radius:5px !important;
    box-sizing: border-box !important;
}
.careers-form textarea{
    padding-left:20px !important;
    padding-right: 20px !important;
    background-color: rgba(0,0,0,0.05) !important;
    border:0 !important;
    border-radius:5px !important;
    height:150px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
}
.careers-form textarea:focus{
  outline:0;
}

.wpforms-field-container{
  display:flex;
  flex-wrap:wrap;
  margin-right:-15px !important;
  margin-left:-15px !important;

}
.wpforms-field-container input{
  max-width:100% !important;
  background-color: rgba(0,0,0,0.05) !important;
  border:0 !important;
  height:50px !important;
  padding-left:20px !important;
  padding-right:20px !important;
  border-radius:5px !important;
}
.wpforms-submit-container{
  text-align: center;
}
.wpforms-field-container textarea{
  background-color: rgba(0,0,0,0.05) !important;
  border:0 !important;
  padding-left:20px !important;
  padding-right:20px !important;
  border-radius:5px !important;
}

.wpforms-field-container label{
    color:#00A48E !important;
    text-transform: uppercase !important;
    font-weight:600 !important;
    font-size:14px !important;
}
.wpforms-field{
  width: -webkit-fill-available !important;
  padding-right:15px !important;
  padding-left:15px !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 50px;
  color: #fff;
  border-radius: 5px;
}

.upload-btn-wrapper .upload-btn {
  border: 0;
  color: #fff;
  height:100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #00A48E;
  padding:10px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.btn-submit{
  background: rgb(16,101,176) !important;
  background: -moz-linear-gradient(90deg, rgba(16,101,176,1) 0%, rgba(1,73,154,1) 90%, rgba(0,71,153,1) 100%) !important;
  background: -webkit-linear-gradient(90deg, rgba(16,101,176,1) 0%, rgba(1,73,154,1) 90%, rgba(0,71,153,1) 100%) !important;
  background: linear-gradient(90deg, rgba(16,101,176,1) 0%, rgba(1,73,154,1) 90%, rgba(0,71,153,1) 100%) !important;
  border-radius: 27px !important;
  color: #fff !important;
  padding: 18px 50px 18px 50px !important;
  white-space: nowrap !important;
  display: inline-block !important;
  position:relative !important;
  font-size:15px !important;
  font-weight: 600 !important;
    border:0 !important;
    cursor:pointer;
  text-transform: capitalize;
}
.btn-submit:focus{
    outline:0;
}
.btn-submit:before{
  color:#fff;
  content:"";
  position: absolute;
  left:15px;
  width:100%;
  background-color: #fff;
  max-width:25px;
  height:1px;
  top:50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.btn-submit:hover:before {
  max-width: 15px;
}
.bg-dark{
  background-color: #F4F4F4;
}

.contact-us-form{
   max-width:700px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.contact-us-form .title{
  font-size:26px;
  font-weight:600;
  text-align: center;
  margin-bottom:20px;
}

.competencies .title{
  font-size:26px;
  font-weight:600;
}

.competencies .list-item{
  margin-bottom:5px;
  transition: 0.3s;
}
/*.competencies .list-item:hover .list-title{*/
  /*opacity:0.5;*/
/*}*/

/*.competencies .list-item.active .list-title{*/
  /*opacity:0.5;*/
/*}*/
.competencies .list-item .list-icon{
  width:15px;
  height:15px;
}
.competencies .list-item .list-title{
  font-size:16px;
  transition: 0.3s;
}

.competencies .list-item .text {
  max-height:0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.competencies .list-item.active .text {
  max-height: 400px;
  overflow-y: scroll;
  transition: max-height 0.25s ease-in;
}
.btn-fill{
  background: rgb(16,101,176) !important;
  background: -moz-linear-gradient(90deg, rgba(16,101,176,1) 0%, rgba(1,73,154,1) 90%, rgba(0,71,153,1) 100%) !important;
  background: -webkit-linear-gradient(90deg, rgba(16,101,176,1) 0%, rgba(1,73,154,1) 90%, rgba(0,71,153,1) 100%) !important;
  background: linear-gradient(90deg, rgba(16,101,176,1) 0%, rgba(1,73,154,1) 90%, rgba(0,71,153,1) 100%) !important;
  border-radius: 25px !important;
  color: #fff !important;
  padding: 17px 50px 17px 50px !important;
  white-space: nowrap !important;
  display: inline-block !important;
    font-weight:600 !important;
    font-size:14px !important;
    line-height:14px !important;
}

.btn-fill .label{
  position: relative;
  color:#fff;
}

.btn-fill .label:before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 25px;
  left: -35px;
  width: 100%;
  height: 1px;
  background: #fff;
  border-radius: 5px;
  transition: 0.35s;
  color: #fff;
}

.btn-fill:hover .label:before{
  max-width: 15px;
}

@media (max-width: 767px) {
  .pl-lg-big{
    padding-left:0;
  }
  .pl-md-medium{
    padding-left:0;
  }
  .pr-lg-big{
    padding-right:0;
  }
  .pr-md-medium{
    padding-right:0;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .pl-md-medium{
    padding-left:4% !important;
  }
  .pr-md-medium{
    padding-right:4% !important;
  }
}

@media (min-width: 992px){
  .pl-lg-big{
    padding-left:7% !important;
  }
  .pr-lg-big{
    padding-right:7% !important;
  }
}



/*# sourceMappingURL=style.css.map */
