/*
Theme Name: i4 Template
Text Domain: i4
Version: 1.0
Description: Theme built by TheWebAddicts.com
Tags: TheWebAddicts, i4
Author: TheWebAddicts
Author URI: https://TheWebAddicts.com

*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
@import "assets/scss/variables.scss";

body{ padding: 0; margin: 0; font-size: 13px; line-height: 1.6; }
*{ color:inherit; font-size: inherit; box-sizing: border-box; font-family: 'Hind', sans-serif;}
nav{ background: transparent; height:auto; box-shadow: 0 0 20px rgba(0,0,0,0.1); transition:0.5s; }
h1, h2, h3, h4, h5, h6{ line-height: 1.4; }
b,strong{ font-weight: 600; }
%transition-0{ transition: 0.15s all; }
%transition-1{ transition: 0.3s all; }
%absolute-box{ position: absolute; top:0; left:0; right:0; bottom:0; margin: auto; }


.content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  //max-width: 1280px;
}

@media (min-width: 576px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 768px) {
  .content {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .content {
    padding-right: 80px;
    padding-left: 80px;

    &.center {
      max-width: 75%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

  }
}

.padding-left-custom{
  padding-left: 15px;
  @media (min-width: 576px) {
    padding-left: 50px;
  }

  @media (min-width: 768px) {
      padding-left: 30px;
  }

  @media (min-width: 992px) {
      padding-left: 50px;
  }

  @media (min-width: 1200px) {
      padding-left: 100px;
  }

}

.btn-paragraph{
  color:$color-blue !important; margin-left:40px;position:relative;  display: inline-block !important; line-height: unset !important; height:auto !important; text-transform: unset !important; font-size:16px !important; font-weight:600 ; box-shadow: unset !important;
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 35px;
    left: -40px;
    width: 100%;
    height: 1px;
    background: $color-blue;
    border-radius: 5px;
    transition: 0.35s;
  }
  &:hover{  &:before{max-width:20px;} }
}

.btn-watch{
  i{ width: 40px; height: 40px; line-height: 40px; background-color: $color-blue; color:$color-white; text-align: center; border-radius: 50%; margin-right: 5px; @extend %transition-1;}
  line-height: 40px; font-size: 11px;  @extend %transition-1;
  &:hover{
    i{ transform: scale(1.2); margin-right: 15px; }
  }
}

sep, .sep{ display: block; width: 100%; height: 20px; clear: both; }

.text-left{ text-align: left !important; *{ text-align: left; } }
.text-center{ text-align: center; *{ text-align: center; } }
.text-white{ color:$color-white; }
.text-black{ color:$color-black; }



.p20{ padding: 20px; }

header.main_menu{
  position: fixed; top:0; left:0; right: 0; z-index: 99;width:100vw;

  &.compact{
    nav{
      background-color: #fff;
      ul.menu li.menu-item a{
        color:$color-black;
      }
    }
  }
  nav{
    .content{ display: flex; flex-wrap: nowrap;; align-items:stretch; position: relative; }
    a.custom-logo-link{ display: block; flex-grow: 0; flex-shrink: 9; width: 220px;
      img{ width: 220px; max-height: 60px; margin: 10px 0; }
    }
    a.toggle{
      position: absolute; top:0; right:0; padding: 0; height:80px; line-height: 80px; display: none;
      @media #{$mediaquery-small} { display: none; }
      @media #{$mediaquery-smaller} { display: none; }
      @media #{$mediaquery-mobile} { display: block; }
      i{ padding: 0 20px; height:80px; line-height: 80px; color:$color-black; }
      i:first-of-type{ display: block; }
      i:last-of-type{ display: none; }
      &.expanded{
        i:first-of-type{ display: none !important; }
        i:last-of-type{ display: block !important; }
      }
    }
    ul.menu{
      flex-grow: 1; width: 100%; display: flex; justify-content:flex-end; align-items:stretch;
      @media #{$mediaquery-small} { display: flex; }
      @media #{$mediaquery-smaller} { display: flex; }
      @media #{$mediaquery-mobile} { display: none; }
      li.menu-item{
        display: flex; align-items: stretch; position: relative;
        &:hover {
          ul.sub-menu a{ max-height: 100px; padding: 10px 30px 10px 20px;  }
        }
        &.menu-item-has-children a{
          &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; padding: 1px 0 0 5px; font-size: 10px; color:$color-blue; }
          &:hover{
            border-bottom-color: transparent !important;;
          }
        }
        a{
          font-size:14px; color:$color-white; align-content:center; display: flex; padding: 0 20px; align-items:center; line-height: unset !important; border-bottom:2px solid transparent; @extend %transition-1;
          &:hover{ border-bottom-color: $color-blue; background-color: transparent; color:$color-blue; }
        }
      }
      ul.sub-menu{
        position: absolute; background-color: $color-white; flex-wrap: wrap; top:80px; width: 200px; z-index: -1;
        li.menu-item{
          display: flex; width: 100%; position: relative;
          &.menu-item-has-children a{
            position: relative;
            &:after{ content:'\f054'; font-family: $font-awesome; font-weight: 600; font-size: 10px; color:$color-blue; position: absolute; top:0; bottom:0; right:15px; display: flex; align-items: center; }
            &:hover{ border-bottom-color: transparent !important;;  }
          }
          &:not(.menu-item-has-children) a{
            &:after{ display: none !important;; }
          }
          &:hover {
            a{ color:$color-blue; }
            ul a{ color:$color-black; }
            ul.sub-menu{ width: 200px !important; opacity: 1; }
          }
          a{
            padding:0px 30px 0 20px; font-size: 13px; color:$color-black; line-height: 1.5 !important; border-bottom:0px; @extend %transition-1; overflow: hidden; max-height: 0; width: 100%;
            &:hover{ color:$color-blue !important; }
          }
          ul.sub-menu{
            background-color: $color-blue-verylight2; position: absolute; left:200px; top:0; width: 0px; @extend %transition-1; overflow: hidden; opacity: 0; z-index: -3;
            li{ width: 200px !important; }
            a:after{ content:''; }
          }
        }
      }
    }



    ul.mobile{
      flex-grow: 1; width: 100%; display: block; justify-content:flex-end; align-items:stretch; position: absolute;; top:80px;  height:0; background-color: $color-white; z-index: -1; overflow-x:hidden; overflow-y: scroll; @extend %transition-1;
      @media #{$mediaquery-small} { display: none; }
      @media #{$mediaquery-smaller} { display: none; }
      @media #{$mediaquery-mobile} { display: block; }
      &.expanded{ height:  calc(100vh - 80px) !important; }
      li.menu-item{
        position: relative; width: 100%; display: block;
        &.menu-item-has-children a{
          &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; padding: 1px 0 0 5px; font-size: 10px; color:$color-blue; float:right; }
          &:hover{
            border-bottom-color: transparent !important;;
          }
        }
        a{
          font-size:14px; color:$color-black; align-content:center; display: block; padding: 0 20px; align-items:center; border-bottom:2px solid transparent; @extend %transition-1;
          height:50px; line-height: 50px;
          &:hover{ border-bottom-color: $color-blue; background-color: transparent; color:$color-blue; }
        }
      }
      ul.sub-menu{
        position: static; background-color: $color-white; flex-wrap: wrap; top:80px;  z-index: -1; margin-left: 20px;
        &.expanded{
          a{ max-height:50px !important; }
          ul.sub-menu:not(.expanded){ max-height: 0px !important; }
        }
        li.menu-item{
          width: 100%; position: relative;
          &.menu-item-has-children a{
            position: relative;
            &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; font-size: 10px; color:$color-blue; float:right; display: flex; align-items: center; }
            &:hover{ border-bottom-color: transparent !important;;  }
          }
          &:not(.menu-item-has-children) a{
            &:after{ display: none !important;; }
          }
          &:hover {
            a{ color:$color-blue; }
            ul a{ color:$color-black; }
          }
          a{
            padding:0px 20px 0 20px; height:50px; max-height: 0px; line-height: 50px; font-size: 13px; color:$color-black; border-bottom:0px; @extend %transition-1; overflow: hidden;
            &:hover{ color:$color-blue !important; }
          }
          ul.sub-menu{
            background-color: $color-blue-verylight2; @extend %transition-1; overflow: hidden; z-index: -3;
            a{  @extend %transition-1; }
            a:after{ content:''; }
            &.expanded{
              a{ max-height:50px !important; }
            }
          }
        }
      }
    }
  }
}



.title-tertiary{
  color: #00A48E;
  font-size:14px;
  font-weight: 600;
  text-transform: uppercase;
}


.ratio-1-1 {
  width: 100%;
  padding-bottom: 100%;
}

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
}

.d-block{
  display:block;
}
.title-group{

  label{ color:$color-tertiary;  text-transform: uppercase; margin-bottom: 10px; display: block; font-size: 14px; font-weight: 600;}
  h1,h2{ margin: 0; padding: 0; }
  h2{ font-size: 36px; line-height:38px; font-weight: 600; }
  &.text-white *{ color:$color-white; }
}
.text-gray{
  color:$color-gray;
}

.menu-spacer{ display: block; height:0px; width: 100%; }

.homepage-banner{
  display: flex; width: 100%; height:100vh; position: relative; background-color: $color-black;
  &:after{ content:''; display: block; @extend %absolute-box; z-index:1;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.1) 100%);
  }
  iframe{ @extend %absolute-box; display: block; z-index: 0; }
  .content{
    position: relative; z-index: 2;
    *{ max-width: 500px; color:$color-white; }
    h1{  font-size: 48px;
      padding: 0;
      margin: 0 0 20px 0;
      line-height: 1.2;
      font-weight:600;
      word-break: break-word;
      @media (max-width: 575px){
        font-size: 42px;
      }
    }
    .subtitle{ display: block; margin-bottom: 20px; }
  }
}


.content-banner{
  width: 100%; overflow: hidden; height:30vw; min-height: 300px; position: relative; display: flex;
  &.small{ height: 20vw !important; min-height: 200px !important; }
  &.text-center{
    justify-content:center !important;
    .content{ text-align: center; }
    .banner-content{ margin: auto; }
  }
  &:after{ content:''; display: block; @extend %absolute-box; z-index:1; background-color: $color-black; opacity: 0.4; }
  .content{
    color:$color-white; z-index: 2; position: relative;
    .banner-content{ width: 100%; max-width: 500px; }
    h1{ font-size: 42px; padding: 0; margin: 0 0 20px 0; line-height: 1.2; }
    .subtitle{ display: block; margin-bottom: 20px; }
  }
}



.fact-and-figure-card{
  background: rgb(16,101,176);
  background: -moz-linear-gradient(180deg, rgba(16,101,176,1) 0%, rgba(0,71,153,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(16,101,176,1) 0%, rgba(0,71,153,1) 100%);
  background: linear-gradient(180deg, rgba(16,101,176,1) 0%, rgba(0,71,153,1) 100%);
  min-height:220px;
  padding:30px;
  @media (max-width: 767px){
    padding:20px;
  }
  .label{
    color:$color-white;
    font-weight:700;
    font-size:40px;
    line-height:40px;
    word-break: break-word;
    @media (max-width: 767px){
      font-size:32px;
      line-height:32px;
    }
  }
  .line{
    background-color: $color-white;
    width:30px;
    height:2px;
  }

  .text{
    color:$color-white;
    margin-top:20px;
  }

}


.py-section{
  padding-top:80px;
  padding-bottom: 80px;
  @media #{$mediaquery-mobile} {
    padding-top:50px;
    padding-bottom: 50px;
  }
}












.homepage-about{

  .list-item{
    border-bottom:1px solid rgba($color-black,0.1);
    padding:10px 5px;
    cursor:pointer;
    .title{
      font-size:20px;
      font-weight: 500;
    }
    .icon{
      width:18px;
      height:18px;
      background-position: center;
      background-repeat: no-repeat;

    }

    .text{
      max-height:0;
      transition: max-height 0.15s ease-out;
      overflow: hidden;

    }

    &:hover{
      background-color: rgba($color-black,0.03);
    }
    &.active{
      .text{
        max-height:400px;
        overflow-y: scroll;
        transition: max-height 0.25s ease-in;
      }
    }

  }

}


.about-video{
  width: 100%; padding-bottom: 40%; display: block; position: relative; min-height: 500px !important;
  &.zoom{ transform: scale(1.4); min-height: 700px !important; }
  .video{
    width: 100%;height:100%; @extend %absolute-box;  margin: auto; display: block; background-size: cover; background-position: center; border-radius: 4px; z-index: 2;
    i{ @extend %absolute-box; width: 50px; height:50px; background-color: $color-blue; color:$color-white; text-align: center; line-height: 50px; border-radius: 50%; z-index: 2; @extend %transition-1;}
    &:after{ content: ''; @extend %absolute-box; background-color: $color-white; opacity: 0; z-index: 1; @extend %transition-1;}
    &:hover{
      i{ transform: scale(1.2); }
      &:after{ opacity: 0.1; }
    }
  }
  .image_1,.image_2,.image_3,.image_4{
    @extend %absolute-box; z-index: 1; border-radius: 4px; opacity: 0.3;
    div{ @extend %absolute-box; background-position: center; background-repeat: no-repeat; background-size: cover; }
  }
  .image_1{ width: 157px; height:105px; transform: translate(-200px,200px) }
  .image_2{ width: 192px; height:192px; transform: translate(200px,200px) }
  .image_3{ width: 137px; height:85px; transform: translate(0px,-100px) }
  .image_4{ width: 218px; height:132px; transform: translate(-210px,-50px) }

}




.homepage-solutions{
  width: 100%; min-height: 800px; padding: 140px 0; position: relative;;
  &:after{ content:''; @extend %absolute-box; background-color: rgba($color-black,0.5); z-index: 0; }
  .content{ position: relative; z-index: 2; }
  img{ min-width: 100%; }
  .line.white{ margin: 140px 0; }

}

.cards{
  display: flex; margin-top: 80px; flex-wrap: wrap;
  a{
    float:left; width: 386.66px; margin: 20px; display: block; background-color: $color-white; padding: 20px; position: relative; border-radius: 5px; @extend %transition-1;
    .icon-main i,.icon-main span{ width: 100%; display: block; font-size: 48px; text-align: center; margin: 20px 0; }
    *{ text-align: center; }
    h2{ font-size: 24px; font-weight: 400; color:$color-black; }
    div.text{ font-size: 12px; margin-bottom: 40px; }
    span.arrow, i.arrrow{ display: block; width: 40px; height:40px; line-height: 40px; text-align: center; background-color: $color-blue; color:$color-white; position: absolute; left:0; right:0; bottom:-20px; margin: auto; border-radius: 50%;  @extend %transition-1; box-sizing: unset; border: 1px solid $color-blue; }
    &:hover{
      background-color: $color-blue-verylight; transform: scale(1.05);
      .arrow{ transform: scale(1.5); }
    }
  }
  section{
    float:left; width: calc(50% - 40px); margin: 20px; display: block; background-color: $color-white; padding: 20px; position: relative; border-radius: 5px; @extend %transition-1;
    @media #{$mediaquery-mobile} { width: 100%; }
    .icon-main i,.icon-main span{ width: 100%; display: block; font-size: 48px; text-align: center; margin: 20px 0; }
    *{ text-align: center; }
    h2{ font-size: 24px; font-weight: 400; color:$color-black; }
    div.text{ font-size: 12px; margin-bottom: 40px; }
    span.arrow, i.arrrow{ display: block; width: 40px; height:40px; line-height: 40px; text-align: center; background-color: $color-blue; color:$color-white; position: absolute; left:0; right:0; bottom:-20px; margin: auto; border-radius: 50%;  @extend %transition-1; box-sizing: unset; border: 1px solid $color-blue; }
  }
}

.homepage-services{
  background-color: $color-blue-verylight2; padding: 140px 0; position: relative;
  .cards-carousel{ margin-top: -70px; }
}

.homepage-partners{
  .border-top{ border-top: 1px solid rgba($color-black,0.1);}
  section{ padding: 40px; }
  .logos{
    div{ float:left; width: 80px; height:40px; margin-right: 20px; background-size: contain; background-position: center; background-repeat: no-repeat; }
  }

  .partner-image{
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin:20px;
  }
}


.learn_more{
  height:30px; line-height: 30px; padding: 0; text-align: center; display: flex; justify-content: center;  margin: auto; border-bottom: 1px solid rgba($color-black,0.05); position: relative;
  span{ height:30px; line-height: 30px; display: inline-block; }
  span:nth-of-type(2){ font-size: 16px; padding: 0 0 0 10px; }
  span:nth-of-type(1){ padding-left: 0px; }
  &:after{ content:''; background-color: rgba($color-black,0.05); @extend %absolute-box; top:unset; height:0; z-index: 0; @extend %transition-1; border-radius: 3px; }
  //&:hover{
  //  &:after{ height:30px; }
  //}
  &.left{ text-align: left; justify-content: left; }
}


.carousel-container{
  position: relative;
  .arrow-left{ z-index: 99; position: absolute; left:0px; top: 100px; bottom: 100px; width: 50px; text-align: center; display: flex; align-items:center; justify-content:center; i{ font-size: 16px; } }
  .arrow-right{ z-index: 99; position: absolute; right:0px; top: 100px; bottom: 100px; width: 50px; text-align: center;  display: flex; align-items:center; justify-content:center;  i{ font-size: 16px; } }
  .arrow-left:hover,.arrow-right:hover{ background-color: rgba($color-black,0.1); }
}

.cards-carousel, .cards-carousel-full{
  margin: 0 50px; width: calc(100% - 100px);
  padding: 100px 0;
  .indicators{
    .indicator-item{ background-color: $color-blue; opacity: 0.3; @extend %transition-1;}
    .indicator-item.active{ background-color: $color-blue; opacity: 1; transform: scale(1.2); }
  }
  &:not(.dark){

    a,section{
      float:left; width: 300px !important; min-height: 300px; height:auto !important;;  overflow: hidden; display: block; background-color: $color-white;  position: absolute; border-radius: 5px; box-shadow: 0 0 30px rgba(0,0,0,0.1);
      .image{
        background-color: $color-blue-verylight; width: 100%; height:200px; position: relative;
        div{ position: absolute; width: 210px; height:120px; @extend %absolute-box; background-position: center; background-size: cover; }
      }
      .inner{ padding: 20px; }
      *{ text-align: left; }
      h2{ font-size: 15px; font-weight: 400; color:$color-black; margin:5px 0 15px 0; padding: 0 }
      div.text{ font-size: 12px; margin-bottom: 50px; }
      .footer{
        position: absolute; bottom:0; left:0; right:0; margin: auto; height:50px; line-height: 50px; text-align: center; border-top:1px solid rgba($color-black,0.05); display: flex; justify-content:center; z-index: 2;
        span{ line-height: 50px; display:inline-block; height:50px; }
        span:nth-of-type(2){ font-size: 15px; padding: 0 5px; }
      }
      &:after{ content:''; position: absolute; bottom:0; left:0; right:0; z-index: 1; background-color: $color-blue; height:0; @extend %transition-1; opacity: 0; }
      &:hover{
        &:after{ height:50px; opacity: 1; }
        .footer{ border-top:1px solid rgba($color-black,0); *{ color:$color-white; } }
      }

    }

  }

  &.dark{
    section{ width: 600px; background-color: rgba($color-white,0.1); padding: 20px;  border-radius: 5px;  }
    *{ color:$color-white; }
    .indicators{
      .indicator-item{ background-color: $color-white; opacity: 0.3; @extend %transition-1;}
      .indicator-item.active{ background-color: $color-white; opacity: 1; transform: scale(1.2); }
    }
  }
}



.cards-carousel-blue{
  padding: 100px 0; min-height: 500px;
  .indicators{
    .indicator-item{ background-color: $color-blue; opacity: 0.3; @extend %transition-1;}
    .indicator-item.active{ background-color: $color-blue; opacity: 1; transform: scale(1.2); }
  }
  section{
    float:left; width: 300px !important; min-height: 300px; height:auto !important;;  overflow: hidden; display: block; background-color: $color-white; position: absolute; border-radius: 5px; padding: 20px;
    .image{ width: 50%; background-position: center; background-repeat: no-repeat; background-size: contain; padding-bottom: 40%;  margin: auto; }
    .line{ border-bottom: 1px solid rgba($color-white,0.3); width: 100%; margin-top: 10px; background-color: transparent; }
    color:$color-black;
    h3{ font-size: 16px; margin: 20px 0 10px 0; }
    .text{ opacity: 0.65; }
    a{ margin-top: 20px; display: block; font-size: 12px; color:$color-black;; }
  }
}








.homepage-testimonials{
  width: 100%; padding: 140px 0; position: relative;
  &:after{ content:''; @extend %absolute-box; background-color: rgba($color-black,0.5); z-index: 0; }
  .content{ position: relative; z-index: 2; }
  img{ min-width: 100%; }
  .carousel-item{
    .image{ float:left; width: 100px; height:100px; border-radius: 50%; background-size: cover;  background-position: center; }
    .right{
      float:right; width: calc(100% - 100px); padding: 20px;
      h3{ margin: 0 0 5px 0; padding: 0; font-size: 15px; font-weight: 600; }
    }

    .text{ display: block; clear: both; padding: 20px 0 0 0; }
  }

}


.homepage-articles{
  width: 100%; padding: 140px 0; overflow: hidden; background-color: $color-blue-verylight2;
}



.blog-posts{
  a{
    float:left; width: 386.66px; margin: 20px; display: block; padding: 20px; position: relative; border-radius: 5px; @extend %transition-1;
    @media #{$mediaquery-mobile} { width: calc(100% - 40px); }
    .image{ width: 100%; padding-bottom: 66%; background-position: center; background-size: cover; border-radius: 5px; }
    .date{
      margin: 10px 0; color:rgba($color-black,0.5); font-size: 11px;
      span,i{ float:left; font-size: 16px; color:$color-blue; margin-right: 5px; }
    }
    h2{ color:$color-black; font-size: 15px; margin: 10px 0 20px 0; }
    &:hover{ transform: scale(1.05); }
  }
}



.footer-contact{
  background-color: $color-blue-verylight; width: 100%; padding: 140px 0; overflow: hidden;
}

.footer-menu{
  background-color: $color-blue-verylight2; width: 100%; padding: 70px 0 20px 0; overflow: hidden;
  .blocks{
    margin-bottom: 60px;
    h3{ font-size: 16px; margin: 0 0 30px 0; }
    .menu a{
      display: block; color:$color-gray; margin-bottom: 5px; @extend %transition-1;
      &:hover{ color:$color-black; }
    }
  }

  .footer-info{
    max-width: 300px;
    div, a{
      display: block; margin-bottom: 20px; color:$color-gray;
      b{ padding-right: 5px; }
    }
  }

  .footer-newsletter{
    display: block; position: relative; margin: 20px 0;
    button{ position: absolute; top:6px; right:-5px; color:$color-blue; }
  }
  .social{
    float:left; width: 30px; height:30px; display: block; @extend %transition-1;
    i{ width: 30px; text-align: center; height:30px; line-height: 30px; color:$color-black; }
    &:hover{ opacity: 0.6; }
  }
}

.form-white{
  input[type=text],  input[type=email],input[type=url],  input[type=tel]{
    display: block; width: 100%; background-color: $color-white !important; border:1px solid rgba($color-blue,0.2) !important; padding: 10px !important; height:50px !important; border-radius: 5px !important; @extend %transition-1; font-size: 13px !important;
    &:focus{
      outline: none !important;  border:1px solid rgba($color-blue,0.8) !important;
    }
  }

  textarea{
    display: block !important; width: 100% !important; min-height: 120px !important; background-color: $color-white !important; border:1px solid rgba($color-blue,0.2) !important; padding: 15px 10px !important; border-radius: 5px !important; @extend %transition-1;  font-size: 13px !important;
    &:focus{
      outline: none !important;  border:1px solid rgba($color-blue,0.8) !important;
    }
  }
}





.about-profile{
  padding: 140px 0; position: relative; z-index: 2;
  .big_number_section{
    padding-left: 60px;
    .number{ float:left; color: $color-blue; font-size: 180px; height:170px; line-height: 170px;  font-weight: 600; }
    .unit{ float:left; color: $color-blue; text-transform: uppercase; letter-spacing: 2px; width: 100px; margin-top: 130px; padding-left: 40px; }
  }
}




.customers-list{
  padding: 140px 0; background-color: $color-blue-verylight2;
  .logo{
    display: block; background-color: $color-white; box-shadow: 0 0 20px rgba(0,0,0,0.05); width: 100%; padding-bottom: 66%; background-position: center; background-repeat: no-repeat; background-size: 40%; border-radius: 5px; margin-bottom:20px;
  }
}


.about-customers{
  display: block; padding: 40px 0;
  a.logo{ display: block; width: 100%; padding-bottom: 50%; background-position: center; background-size: 50%; background-repeat: no-repeat; }
}

.partners-content{
  display: block; padding: 140px 0 0 0; overflow: hidden; background-color: $color-blue;
}


.contact-info{
  background-color: $color-blue-verylight2; padding: 140px 0;
  .info{
    padding: 0 30px 0px 40px; position: relative; min-height: 450px;
    .wp-block-quote{
      border-left:3px solid $color-blue; font-size: 24px; font-weight: 700; color:$color-black; margin-left: -30px; padding-left: 27px; padding-bottom: 5px; width: calc(50% - 40px);
      p{ width: 100% !important;; }
    }
    p{ width: calc(50% - 40px); }
    color:$color-gray;
  }
  .form{
    padding: 20px 40px 40px 40px; width: 50%; position: absolute; top:0; right:0 !important;
  }
  .contact-box{
    padding: 0 40px;
    h3{ font-size: 16px; font-weight: 400; }
  }
}

.contact-subscribe{
  background-color: $color-blue-verylight; padding: 140px 0;
  .left{
    padding: 0 40px 0 0;
    h2{ font-size: 24px; font-weight: 700; }
  }

  .right{
    position:relative; padding-top: 40px;
    .btn-flat{ position: absolute; top:47px; right:10px; }
  }
}


















//template specific SCSS

.media_and_paragraph{
  padding:80px 0;
  &.VeryLightBlue{ background-color: $color-blue-verylight2; }
  &.LightBlue{ background-color: $color-blue-verylight; }
  .media{ padding: 0 60px;  }
  .media img{ width: 100%; border-radius: 5px; margin: auto; }
  .media.s12 img{ max-width: 700px;  }
  .media img{ margin: auto; }
  .media iframe{ width: 100% !important; min-height: 400px; }
  h1{ font-weight: 600; font-size: 32px; margin: 20px 0 40px 0; }
  .text{ padding: 0 60px; }
  &.parallax-window{
    position: relative;
    &:after{ content:''; display: block; @extend %absolute-box; z-index:1; background-color: $color-black; opacity: 0.4; }
    .content, .content-small{
      position: relative; z-index: 2; color:$color-white;
      .text-gray{ color:$color-white !important; }
    }
  }
}

.content_grid{
  padding: 100px 0;
  &.VeryLightBlue{ background-color: $color-blue-verylight2; }
  &.LightBlue{ background-color: $color-blue-verylight; }
  &.parallax-window{
    position: relative;
    &:after{ content:''; display: block; @extend %absolute-box; z-index:1; background-color: $color-black; opacity: 0.4; }
    .content, .content-small{
      position: relative; z-index: 2; color:$color-white;
      .text-gray{ color:$color-white !important; }
    }
  }

  .content, .content-small{
    display: flex; flex-wrap: wrap; justify-content:flex-start;
    .col{
      float: none !important;
      margin-left: unset;
      margin-right: unset;
    }
  }

  .box{
    .inner{ position: relative; background-color: $color-white; border-radius: 5px; margin: 20px 5px; width: 100%; height:calc(100% - 20px); }
    *{ color:$color-gray; }
    h3{ color:$color-black; font-size: 16px; padding: 20px; margin:0;  }
    .text{ padding: 0 20px 20px 20px;  }
    &.no-icon.no-picture{
      h3{ font-size: 24px }
      .icon{ display: none; }
    }
    &.icon-big{
      .inner{ padding-bottom: 20px; }
      *{ text-align: center; }
      .icon{
        display: block; width: 100%;
        i,span{ display: block; width: 100%; padding: 20px 0 0 0; font-size: 64px; height:100px; line-height: 100px; color:$color-blue; }
      }
    }

    &.icon-small{
      .the_content{
        display: flex; flex-wrap: wrap;;
        h3{ width: calc(100%); flex-grow: 0; flex-shrink: 0; padding-left: 80px; }
        .text{ width: calc(100%); flex-grow: 0; flex-shrink: 0; padding-left: 80px; }
      }
      .icon{
        display: block; width: 80px; position: absolute; left: 0; bottom:0; top:0;
        i,span{ display: block; font-size: 24px; width: 100%; text-align: center; color:$color-blue; padding: 20px 0; }
      }
    }

    &.image{
      .inner{
        padding-bottom: 100%; max-height: 400px; border-radius: 5px;
        &:hover{
          .text{ max-height: 500px; padding: 0 20px 20px 20px;  }
          .the_arrow{ transform: scale(0); }
        }
      }
      *{ text-align: center; }
      .icon{
        display: none;
      }
      .the_image{ position: absolute; left:0; right:0; top: 0; bottom: 90px; z-index: 1; background-size: cover; border-radius: 5px; }
      .the_content{
        position: absolute; left:0; right:0; bottom: 0px; min-height: 100px; z-index: 2; background-color: $color-white; border-radius: 5px;
        .text{ max-height: 0; overflow: hidden; padding: 0px 20px 0px 20px; @extend %transition-1;}
      }
      .the_arrow{
        position: absolute; width: 40px; height:40px; border-radius: 50%; padding: 0; margin: auto; display: block; background-color: $color-blue; color: $color-white; z-index: 3; bottom:-20px; left:0; right:0; @extend %transition-1;
        span{ line-height: 40px; text-align: center; color: $color-white; }
      }
    }
  }
  .header{
    h1{ font-weight: 600; font-size: 32px; margin: 20px 0 40px 0; }
    .text{ padding: 0 60px; margin-bottom: 20px; }
  }
}



.accordion{
  position: absolute; z-index: 20; padding: 0px !important;
  a{
    display: block; border:1px solid rgba($color-blue,0.15); height:50px; line-height: 50px; padding: 0 30px 0 20px; border-radius: 5px; color:$color-black; font-size: 15px;position: relative; @extend %transition-1;
    &:after{ font-family: $font-awesome; content:"\f078"; position: absolute; right:20px; top:0; bottom:0; color:$color-blue; line-height: 50px; font-weight: 700; font-size: 12px;  @extend %transition-1; }
    &:hover{ border:1px solid rgba($color-blue,1); }
  }
  .text{ max-height: 0; overflow: hidden; @extend %transition-1; padding: 0 20px; background-color: $color-white; }
  &.expanded{
    box-shadow: 0 0 20px rgba($color-black,0.1);
    a{ background-color: $color-blue; color:$color-white; &:after{ transform: rotate(180deg); color:$color-white; } }
    .text{ max-height: 500px; padding: 20px 20px; }
  }
}


.text-gray{
  ul{ padding-left: 30px; list-style: unset !important; }
  ul li{ list-style: unset !important; }
}



.form-search{
  .searchform{
    display: flex; flex-wrap: nowrap;
    padding: 80px 20px;
    input[type=text]{
      width: 100%; display: block; background-color: $color-white; border:1px solid rgba($color-blue,0.2); padding: 10px; height:50px; border-radius: 5px; @extend %transition-1;
      border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: 0;
    }
    button{
      width: 100px; display: block; background-color: $color-blue; border:1px solid rgba($color-blue,0.2); padding: 10px; height:50px; border-radius: 5px; @extend %transition-1; color:$color-white;
      border-top-left-radius: 0px; border-bottom-left-radius: 0px;
    }
  }
}


.search-results{
  margin-bottom: 80px;
  h4{ padding: 20px; }
  a{
    display:block; padding: 20px; border-bottom:1px solid rgba($color-blue,0.25); @extend %transition-1;
    span:first-of-type{ color:$color-gray; }
    span:last-of-type{ color:$color-gray2; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
    h5{ padding: 0; margin:0; font-size: 18px; color:$color-blue; }
    &:hover{ background-color: $color-blue-verylight; }
  }
}


.width-50{
  max-width:50%;
  width:100%;
  @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
    max-width:100%;
  }
}


.ratio-5-4 {
  width: 100%;
  padding-bottom: calc(calc(100% * 4) / 5);
}

.competency-card{
  width:500px;
  position: relative;
  .title{
    font-weight:600;
    font-size: 26px;
    line-height: 26px;
    color: $color-white;
    position:absolute;
    bottom:0;
    left:0;
    padding-bottom:20px;
    padding-left:25px;
    z-index:2;
  }

  .image{
    z-index:0;
    position:relative;
    &:after{
      content:'';
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      transition:0.3s;
      background: rgb(0,164,142);
      background: -moz-linear-gradient(180deg, rgba(0,164,142,0) 0%, rgba(0,0,0,0.75) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0,164,142,0) 0%, rgba(0,0,0,0.75) 100%);
      background: linear-gradient(180deg, rgba(0,164,142,0) 0%, rgba(0,0,0,0.75) 100%);

    }
  }

  &:hover{
    .image{
      &:after{
        background: rgb(0,164,142);
        background: -moz-linear-gradient(180deg, rgba(0,164,142,0) 0%, rgba(0,164,142,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(0,164,142,0) 0%, rgba(0,164,142,1) 100%);
        background: linear-gradient(180deg, rgba(0,164,142,0) 0%, rgba(0,164,142,1) 100%);
      }
    }
  }
}



.careers-banner{
  min-height:350px;
  padding:50px;
  background: rgb(0,71,153);
  background: -moz-linear-gradient(90deg, rgba(0,71,153,1) 0%, rgba(16,101,176,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,71,153,1) 0%, rgba(16,101,176,1) 100%);
  background: linear-gradient(90deg, rgba(0,71,153,1) 0%, rgba(16,101,176,1) 100%);

  label{
    text-transform: uppercase;
    font-size:14px;
    font-weight:600;
    color: $color-tertiary;
    margin-bottom:10px;
  }

  .title{
    font-size: 36px; line-height:38px; font-weight: 600; color:$color-white;
  }
  .text{
    font-weight:500;
    font-size: 16px;
    color: $color-white;
  }

  .btn-outline{
    background: transparent;
    border:1px solid $color-white;
    border-radius:25px;
    color: $color-white;
    padding: 10px 50px 10px 50px;
    .label {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 30px;
        left: -35px;
        width: 100%;
        height: 1px;
        background: $color-white;
        border-radius: 5px;
        transition: 0.35s;
        color: $color-white;
      }
    }
    &:hover{  label{ &:before{max-width:20px;} } }
  }
}


.contact-us-details{

}